header{padding: 20px;
}
body{
    background-color: #ffe2fd;
    width:100%;
    font-family: Arial;
    font-weight: bold;
}
section.img{
    width: 490%;
}
section.img img{
    display: block;
}
section.apple {
    float: left;
    padding-left: 20px;
    width: 50%;
    margin: 0px;
}
#beneden{
    padding-left: 20px;
    width: 100%;
}
nav{
    padding: 20px;
}
nav a {
    padding: 10px;
}
div.wrapper{
    width: 100%;

}
#desk{
    margin-top: 10px;
    margin-bottom: 10px;
}
article{
    float: left;
    width: 31%;
}
